/* Define your theme modifications inside next mixin */





@mixin com_company_taximgmt-halo-ext {
  @include halo;
.logo {
    font-size: 25px;
    text-transform: uppercase;
    margin-left: 50px;
  }
}